.red-time {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  margin: 0;
  margin-top: -2px;
  z-index: 11;

  &__triangle {
    width: 0;
    height: 0;
    border-left: 6px solid red;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }

  &__line {
    height: 2px;
    width: 100%;
    background-color: red;
    margin-left: -3px;
  }
}
